<!doctype html>
<html lang="ru">
<head>

<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Добро пожаловать на BlaBlaArticle</title>
	
</head>
<body>

<table class="head-wrap">
	<tr>
		<td></td>
		<td class="header container" >
				
        <h2>Вами преобретена подписка {{ subscriptionName }} со сроком действия до {{ subscriptionInDB }} </h2>
									
		</td>
		<td></td>
	</tr>
</table>

<table class="footer-wrap">
	<tr>
		<td></td>
		<td class="container">
			<div class="content">
				<table>
					<tr>
						<td align="center">
							<p class="gray">BlaBlaArticle - Лучший генератор статей</p>
						</td>
					</tr>
				</table>
			</div>
		</td>
		<td></td>
	</tr>
</table>

</body>
</html>
